html, body {
    margin: 0;
}

body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    margin: 0 auto;
}

.menu {
    padding: 10px 20px 35px;
    width: 20%;
    background-color: aquamarine;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.header{
    background-color: rgb(5, 108, 108);
    max-height: 200px;
    display: flex;
    justify-content: center;
}