html, body {
    margin: 0;
}

body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    margin: 0 auto;
}

.menu {
    padding: 10px 20px 35px;
    width: 20%;
    background-color: aquamarine;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.header{
    background-color: rgb(5, 108, 108);
    max-height: 350x;
    display: flex;
    justify-content: center;
}

.content{
    min-height: 300px;
    padding: 50px 0px 50px 25px;
}

.footer {
    min-height: 200px;
    padding: 50px 0px 50px 25px;
}

.image{
    max-height: 350px;
    display: flex;
    justify-content: center;
}

p{
    font-size: 25px;
}

h1{
    font-size: 35px;
    color:rgb(100, 18, 16);
}